@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  color: #444;
  background: #f9f9f9;
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  position: relative;
  width: 100%;
}

/*       First Section     */
.header {
  height: 100%;
  background: url("http://miguelricodev.com/site_organic/images/organic_main.jpg");
  background-size: cover;
  background-position: center;
}
.header .content {
  width: 100%;
  height: 100%;
}
.header .content .title {
  position: absolute;
  top: 55%;
  width: 100%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  text-align: center;
  opacity: 1;
}
.header .content .title h1 {
  color: #fff;
  font-size: 2.5em;
}

/* About Me Section */
.about {
  padding: 50px 20px;
}
.about .content {
  text-align: center;
}
.about .content h2 {
  color: #3d3d3d;
  font-size: 3em;
  margin-bottom: 20px;
  -webkit-transform: translateY(-50px) scale(0);
  transform: translateY(-50px) scale(0);
  -webkit-transition: transform .7s;
  -moz-transition: transform .7s;
  transition: transform .7s;
}
.about .content p {
  font-size: 1.25em;
}
.about .content .aboutTitleVisible {
  -webkit-transform: translateY(0px) scale(1);
  transform: translateX(0px) scale(1);
}

/* Projects */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: underline;
}

.timeline ul h2 {
  font-size: 2em;
  color: white;
  text-align: center;
  padding-bottom: 20px;
}

    /* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline ul {
  background: #456990;
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 10px;
  background: #F45B69;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #F45B69 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #F45B69;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

    /* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #F45B69;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

    /* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }

  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}
@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }

  .timeline ul li div {
    width: calc(100vw - 91px);
  }

  .timeline ul li:nth-child(even) div {
    left: 45px;
  }

  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #F45B69 transparent transparent;
  }
}
/*Skills      */
.skills {
  padding: 70px 20px;
}
.skills .content .development-wrapper .development-title {
  color: #3c3c3c;
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
}
.skills .content .development-wrapper .skills-bar-container {
  position: relative;
  width: 100%;
  list-style-type: none;
}
.skills .content .development-wrapper .skills-bar-container li {
  width: 100%;
  margin-bottom: 20px;
}
.skills .content .development-wrapper .skills-bar-container li .progressbar-title {
  color: #3c3c3c;
  margin-bottom: 5px;
}
.skills .content .development-wrapper .skills-bar-container li .progressbar-title h3 {
  display: inline-block;
}
.skills .content .development-wrapper .skills-bar-container li .progressbar-title .percent {
  position: absolute;
  right: 20px;
  font-size: 1.1em;
}
.skills .content .development-wrapper .skills-bar-container li .bar-container {
  background: #ececec;
  position: relative;
  width: 100%;
  height: 10px;
}
.skills .content .development-wrapper .skills-bar-container li .bar-container .progressbar {
  background: #34495e;
  position: absolute;
  width: 0%;
  height: 100%;
}
.skills .content .tools-knowledge-wrapper {
  width: 100%;
}
.skills .content .tools-knowledge-wrapper .tools-wrapper,
.skills .content .tools-knowledge-wrapper .knowledge-wrapper {
  position: relative;
  padding: 20px 0;
  widht: 100%;
  text-align: center;
}
.skills .content .tools-knowledge-wrapper .tools-wrapper .title,
.skills .content .tools-knowledge-wrapper .knowledge-wrapper .title {
  color: #3c3c3c;
  font-size: 2em;
  margin-bottom: 10px;
}
.skills .content .tools-knowledge-wrapper .tools-wrapper ul,
.skills .content .tools-knowledge-wrapper .knowledge-wrapper ul {
  list-style-type: none;
  margin-left: 40px;
}
.skills .content .tools-knowledge-wrapper .tools-wrapper ul li,
.skills .content .tools-knowledge-wrapper .knowledge-wrapper ul li {
  color: #444;
  font-weight: bold;
  font-size: 1.1em;
  text-align: left;
}
.skills .content .tools-knowledge-wrapper .tools-wrapper ul li i,
.skills .content .tools-knowledge-wrapper .knowledge-wrapper ul li i {
  color: #27ae60;
}

/*##### PORTFOLIO SECTION #####*/
.portfolio {
  background: #f9f9f9;
  padding: 80px 0;
}
.portfolio .content {
  text-align: center;
}
.portfolio .content h1 {
  color: #3c3c3c;
  font-size: 2em;
  margin-bottom: 50px;
}
.portfolio .content .projects {
  width: 100%;
}
.portfolio .content .projects .project {
  color: #fff;
  position: relative;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  overflow: hidden;
}
.portfolio .content .projects .project:last-child {
  margin-bottom: 0;
}
.portfolio .content .projects .project .project-image img {
  width: 100%;
}
.portfolio .content .projects .project .project-title {
  color: #3c3c3c;
  padding: 10px 0;
}
.portfolio .content .projects .project .project-description {
  color: #444;
}

/* Contact US*/
.contact .content {
  background: orange;
}
.contact h1 {
  padding-top: 10px;
  font-size: 2em;
  text-align: center;
}
.contact a {
  text-decoration: none;
  color: #444;
}
.contact .contactinfo {
  padding-top: 100px;
  margin-right: 100px;
}
.contact .infotext {
  padding: 10px 250px 50px 250px;
  text-align: center;
}
.contact #infosize {
  font-size: 2em;
}
.contact hr {
  border: 0;
  padding: 1px 10px 5px 10px;
  height: 5px;
  background-image: -webkit-linear-gradient(left, orange, black, orange);
  background-image: -moz-linear-gradient(left, orange, black, orange);
}
.contact #icon {
  font-size: 1.5em;
}
